.TodoSearch {
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid gray;
    background-color: white;
    margin-bottom: 20px;
}

.TodoSearch:disabled {
    opacity: 0.5;
}