.icon-container {
    cursor: pointer;
}

.icon-container-delete {
    position: absolute;
    right: 0;
    top: -25px;
}

.icon-container-edit {
    position: absolute;
    right: 40px;
    top: -25px;
}

.icon-svg {
    width: 48px;
    height: 48px;
}

.icon-container-check:hover .icon-svg {
    fill: green;
}

.icon-container-delete:hover .icon-svg {
    fill:red;
}

.icon-container-edit:hover .icon-svg {
    fill:yellow;
}